In [3]:

import pandas as pd

In [7]:

url = 'https://en.wikipedia.org/wiki/List_of_cities_in_Brazil_by_population'

In [14]:
tables = pd.read_html(url)
df = tables[0]
df.head()

             City             State  2021Estimate  2010Census   Change
0       São Paulo         São Paulo      12396372    11253503  +10.16%
1  Rio de Janeiro    Rio de Janeiro       6775561     6320446   +7.20%
2        Brasília  Distrito Federal       3094325     2570160  +20.39%
3        Salvador             Bahia       2900319     2675656   +8.40%
4       Fortaleza             Ceará       2703391     2452185  +10.24%

In [ ]:
df.to_csv('most_populated_cities.csv')